In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model

In [22]:
#reading data
df = pd.read_csv("drugprediction.csv")
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [25]:
#reading first 5 rows
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [29]:
#no. of rows and columns
df.shape

(200, 6)

In [135]:
#checking for null values
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [137]:
#checking for unique values
print(f'''Drugs: {df['Drug'].unique()}, 
Sex: {df['Sex'].unique()}
Blood Pressure: {df['BP'].unique()}
Cholesterol: {df['Cholesterol'].unique()}''')

Drugs: ['DrugY' 'drugC' 'drugX' 'drugA' 'drugB'],
Sex: ['F' 'M']
Blood Pressure: ['HIGH' 'LOW' 'NORMAL']
Cholesterol: ['HIGH' 'NORMAL']

In [45]:
#replacing string values with numeric values
final = df.replace({'Sex':{'F':0, 'M':1}, 
                     'Cholesterol':{'NORMAL':0, 'HIGH':1},
                    'BP':{'LOW':0,'NORMAL':1, 'HIGH':2},
                    'Drug':{'drugA':0, 'drugB':1,'drugC':2,'drugX':3, 'DrugY':4 }})
final.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   2            1   25.355     4
1   47    1   0            1   13.093     2
2   47    1   0            1   10.114     2
3   28    0   1            1    7.798     3
4   61    0   0            1   18.043     4

In [63]:
#x = independent variables
#y = dependent variables
x = final.drop('Drug',axis='columns')
y = final.Drug

In [126]:
#splitting training and testing data
from sklearn.model_selection import train_test_split
np.random.seed(0)
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.35)

In [127]:
#checking length of x_train
len(x_train)

70

In [128]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()

In [129]:
model.fit(x,y)

ExtraTreesClassifier()

In [130]:
model.predict([[55,0,2,1,19.8]])

array([4])

In [131]:
result = model.score(x_test, y_test)
print(f'Accuracy: {(result * 100):.2f}%')

Accuracy: 100.00%

In [132]:
y_test[100:103]

158    2
191    0
50     4
Name: Drug, dtype: int64

In [133]:
x_test[100:103]

     Age  Sex  BP  Cholesterol  Na_to_K
158   59    0   0            1   10.444
191   23    1   2            1    8.011
50    58    0   2            1   19.416